/*
 * Less functions
 */
.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-khtml-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@arguments) {
	-webkit-transition: @arguments;
	-khtml-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(@arguments) {
	-webkit-transform: @arguments;
	-khtml-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}
.box-sizing(@arguments) {
	-webkit-box-sizing: @arguments;
	-moz-box-sizing: @arguments;
	box-sizing: @arguments;
}
.font-smoothing(@arguments) {
	-webkit-font-smoothing: @arguments;
}

.background-size(@arguments) {
	-webkit-background-size: @arguments;
	-moz-background-size: @arguments;
	-o-background-size: @arguments;
	background-size: @arguments;
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
	background: @color;
	background:	-webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(0, @start),
				color-stop(1, @stop));
	background:	-ms-linear-gradient(bottom,
				@start,
				@stop);
	background:	-moz-linear-gradient(center bottom,
				@start 0%,
				@stop 100%);
	background:	-o-linear-gradient(@stop,
				@start);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

.placeholder(@color) {
	::-webkit-input-placeholder {
		color: @color;
	}
	:-moz-placeholder {
		color: @color;
	}
	::-moz-placeholder {
		color: @color;
	}
	::-ms-input-placeholder {
		color: @color;
	}
}

/*
 * Ligature Symbols
 */
@charset 'UTF-8';

@font-face {
	font-family: 'LigatureSymbols';
	src: url('../fonts/LigatureSymbols-2.11.eot');
	src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
		url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
		url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lsf {
	font-family: 'LigatureSymbols';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-font-feature-settings: "liga" 1, "dlig" 1;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga" 1, "dlig" 1;
	-o-font-feature-settings: "liga" 1, "dlig" 1;
	font-feature-settings: "liga" 1, "dlig" 1;
}
.lsf-icon:before {
	content:attr(title);
	margin-right:0.3em;
	font-size:130%;
	font-family: 'LigatureSymbols';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-font-feature-settings: "liga" 1, "dlig" 1;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga" 1, "dlig" 1;
	-o-font-feature-settings: "liga" 1, "dlig" 1;
	font-feature-settings: "liga" 1, "dlig" 1;
}

/*
 * Colors
 */

@background: #f0f0f0;

/***/

html {
	position: relative;
}

body {
	background: @background;
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	&::-webkit-scrollbar {
		width: 5px;
		background: #fff;
	}
	&::-webkit-scrollbar-thumb {
		background: #333;
		&:hover {
			background: #222;
		}
	}
}

/*
 * Elements
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 200;
	color: #333;
}

.alignleft {
	float: left;
	margin: 0 40px 40px 0;
}

.alignright {
	float: right;
	margin: 0 0 40px 40px;
}

.columns.relative,
.column.relative {
	position: relative;
	display: block;
}

.button,
button,
input[type=submit] {
	background: #222;
	color: #f0f0f0;
	padding: 10px 15px;
	border: 0;
	font-weight: 600;
	font-family: "Open Sans";
	text-transform: uppercase;
	cursor: pointer;
	&:hover {
		background: #111;
	}
}

.humus-dropdown {
	background: @background;
	border: 1px solid #ccc;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	height: 34px;
	position: relative;
	a {
		text-decoration: none;
	}
	ul {
		margin: -1px;
		padding: 36px 0 0;
		li {
			font-size: 14px;
			line-height: 14px;
			margin: 0;
			padding: 0;
			background: #e0e0e0;
			display: none;
			.transition(all .2s ease-in-out);
			&.active {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				background: transparent;
				&:hover {
					background: transparent;
					a {
						color: inherit;
					}
				}
			}
			a {
				padding: 10px;
				display: block;
				.transition(all .2s ease-in-out);
			}
			&:hover {
				background: #333;
				a {
					color: #f0f0f0;
				}
			}
		}
	}
	&:after {
		content: url(../img/arrow-down.png);
		padding: 10px;
		position: absolute;
		top: 1px;
		right: 1px;
	}
	&:hover,
	&.opened {
		z-index: 100;
		ul li {
			display: block;
		}
	}
}

.section-title {
	text-transform: uppercase;
	margin: 0 0 40px;
	letter-spacing: 1px;
	font-family: "Lato";
}

.arrow-link {
	line-height: 40px;
	font-weight: 200;
	text-transform: uppercase;
	text-decoration: none;
	&:before {
		content: url(../img/link-bullet.png);
		float: left;
		margin-right: 15px;
		margin-top: 4px;
	}
}

.humus-pagination {
	border-top: 1px solid #ccc;
	height: 0;
	margin-bottom: 55px;
	margin-top: 22px;
	.wp-pagenavi {
		float: right;
		background: @background;
		margin-top: -22px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 3px 0;
		line-height: 28px;
		> * {
			border: 0;
			margin: 0;
			padding: 5px 10px;
			line-height: 28px;
			color: #999;
		}
		.nextpostslink,
		.previouspostslink {
			font-size: 24px;
		}
		.current {
			font-weight: 800;
			font-size: 16px;
		}
		.pages {
			display: none;
		}
	}
	.wp-pagination {
		text-align: right;
		margin-top: -18px;
		line-height: 28px;
		text-transform: uppercase;
		font-weight: 600;
		a {
			color: #999;
			text-decoration: none;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding: 10px;
			background: @background;
		}
	}
}

.humus-gallery-container {
	.image-container {
		width: 100%;
		height: 600px;
		margin: 0 0 20px;
		position: relative;
		background: rgba(0,0,0,0.3);
		.image * {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
			margin: 0 auto;
			display: block;
		}
		.next,
		.prev {
			position: absolute;
			display: block;
			top: 50%;
			margin-top: -30px;
			width: 33px;
			height: 60px;
			text-indent: -9999px;
		}
		.prev {
			background: url(../img/arrow-left-big.png);
			left: -60px;
		}
		.next {
			background: url(../img/arrow-right-big.png);
			right: -60px;
		}
	}
	.image-list-container {
		margin-bottom: 20px;
		.image-list {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				margin: 0 20px 20px 0;
				padding: 0;
				cursor: pointer;
				opacity: .5;
				&:last-child {
					margin: 0 20px 0 0;
				}
				&.active {
					opacity: 1;
				}
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.scrollbar {
		margin: 0 0 1em 0;
		height: 2px;
		background: #ccc;
		line-height: 0;
		.handle {
			width: 100px;
			height: 100%;
			background: #292a33;
			cursor: pointer;
		}
	}
}

.humus-masonry-gallery {
	ul.images {
		list-style: none !important;
		margin: 0 !important;
		padding: 0 !important;
		li.image {
			margin: 0 !important;
			padding: 10px !important;
			width: 33%;
			.box-sizing(border-box);
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}

.humus-contact {
	.contacts {
		.email,
		.phone {
			padding-top: 70px;
			p {
				padding-top: 10px;
				text-align: center;
				border-top: 1px solid #999;
			}
		}
		.email {
			padding-top: 60px;
			background: url(../img/contact-icon-big.png) top center no-repeat;
		}
		.phone {
			padding-top: 80px;
			background: url(../img/phone-icon-big.png) top center no-repeat;
		}
	}
}

.humus-contact-form {
	width: 100%;
	input[type=text],
	textarea {
		.box-sizing(border-box);
		width: 100%;
		padding: 10px;
		border: 0;
		background: #bbbbbb;
		color: #333;
		font-family: "Open Sans";
	}
	input.name {
		width: 48%;
		float: left;
	}
	input.email {
		width: 48%;
		float: right;
	}
	textarea {
		height: 200px;
	}
	input[type=submit] {
		float: right;
		padding: 10px 40px;
	}
	@ph_color: #666;
	::-webkit-input-placeholder { /* WebKit browsers */
		color: @ph_color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: @ph_color;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: @ph_color;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: @ph_color;
	}
	.message {
		float: left;
		font-size: 14px;
		font-weight: 600;
		p {
			margin: 0;
		}
		.error {
			color: #f00;
			opacity: .6;
		}
	}
}

/*
 * Header
 */

#masthead {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 20px;
	background: rgba(255,255,255,0.9);
	.box-shadow(0 2px 3px rgba(0,0,0,0.2));
	.right-side { float: right; }
	h1 {
		margin: 0 20px 0 0;
		padding: 0;
		float: left;
		line-height: 60px;
		&.with-logo {
			text-indent: -9999px;
			line-height: 0;
			a {
				padding: 0;
			}
		}
		a {
			display: block;
			background: #000;
			color: #fff;
			font-size: 16px;
			text-transform: uppercase;
			padding: 0 20px;
			text-decoration: none;
		}
		img {
			display: block;
		}
	}
	#mastnav {
		float: left;
		.menu {
			margin: 0;
			padding: 0;
			a {
				color: #444;
			}
			> li {
				margin: 0 40px 0 0;
				padding: 0;
				line-height: 60px;
				float: left;
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
				position: relative;
				a {
					text-decoration: none;
					.transition(color .2s ease-in-out);
					&:hover {
						color: #999;
					}
				}
				> ul {
					overflow: hidden;
					height: 0;
					position: absolute;
					top: 60px;
					left: 0;
					margin: 0;
					opacity: 0;
					margin-top: 40px;
					width: 200px;
					.transition(all .2s ease-in-out);
					&:before {
						content: '';
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid transparent;
						border-bottom: 10px solid #fff;
						position: absolute;
						top: 0px;
						z-index: 1000;
						left: 20px;
					}
					> li {
						background: #fff;
						margin: 0;
						padding: 15px;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						.box-sizing(border-box);
					}
					&.explore-menu {
						width: 450px;
						margin-left: -180px;
						&:before {
							left: 50%;
							margin-left: -10px;
						}
						> li {
							padding: 20px;
						}
						.axes {
							width: 130px;
							float: left;
							padding-right: 0;
							ul {
								li {
									font-weight: 600;
								}
							}
						}
						.sections {
							width: 310px;
							float: left;
							ul {
								li {
									width: 50%;
									float: left;
									a {
										padding-left: 30px;
										background-position: left center;
										background-repeat: no-repeat;
									}
								}
							}
						}
						h3 {
							font-size: 18px;
							line-height: 18px;
							margin: 0;
							padding: 0;
							text-transform: uppercase;
							border-bottom: 1px solid #333;
							padding-bottom: 20px;
							margin-bottom: 10px;
							font-weight: 800;
						}
						ul {
							margin: 0;
							li {
								font-size: 16px;
								line-height: 40px;
								font-weight: 400;
								margin: 0;
								padding: 0;
								a {
									display: block;
									line-height: 40px;
								}
							}
						}
					}
				}
				&:hover {
					> ul {
						height: auto;
						opacity: 1;
						margin-top: 0;
						padding: 20px 0;
						.transition(all .2s ease-in-out);
					}
				}
			}
		}
	}
	.search {
		width: 26px;
		float: left;
		padding: 20px 20px 19px 20px;
		position: relative;
		&:before {
			content: '\E116';
			font-family: "LigatureSymbols";
			font-size: 26px;
			display: block;
			color: #000;
		}
		&:hover,
		&.active {
			.searchform {
				height: auto;
				opacity: 1;
			}
		}
		.searchform {
			width: 250px;
			height: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 60px;
			right: 0;
			.transition(all .2s ease-in-out);
			form {
				background: #fff;
				margin-top: 20px;
				&:before {
					content: '';
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-top: 10px solid transparent;
					border-bottom: 10px solid #fff;
					position: absolute;
					top: 0px;
					z-index: 1000;
					right: 30px;
				}
				input[type=text] {
					width: 100%;
					margin: 0;
					padding: 20px;
					border: 0;
				}
				input[type=submit] {
					display: none;
				}
			}
		}
	}
	.social {
		width: 26px;
		float: left;
		padding: 20px 20px 19px 20px;
		position: relative;
		&:before {
			content: '\E11f';
			font-family: "LigatureSymbols";
			font-size: 26px;
			display: block;
			color: #000;
		}
		&:hover,
		&.active {
			.social-content {
				height: auto;
				opacity: 1;
			}
		}
		.social-content {
			width: 240px;
			height: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 60px;
			right: 0;
			text-align: center;
			.transition(all .2s ease-in-out);
			.social-icons {
				background: #fff;
				margin-top: 20px;
				padding: 10px;
				&:before {
					content: '';
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-top: 10px solid transparent;
					border-bottom: 10px solid #fff;
					position: absolute;
					top: 0px;
					z-index: 1000;
					right: 30px;
				}
				a {
					.lsf;
					font-size: 26px;
					line-height: 26px;
					text-decoration: none;
					margin: 10px;
				}
			}
		}
	}
}

.admin-bar #masthead {
	top: 48px;
}

@media only screen and (max-width: 767px) {
	#masthead {
		top: 0;
		height: 60px;
	}
	.admin-bar #masthead {
		top: 28px;
	}
}

@media only screen and (min-width: 1200px) {
	#masthead h1 {
		margin: 0 40px 0 0;
	}
}

.page-header {
	padding-top: 140px;
	height: 100px;
	position: relative;
	.header-content {
		position: fixed;
		z-index: 1;
		width: 100%;
	}
	.humus-breadcrumb {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 12px;
		color: #999;
		margin: -20px 0 5px;
		position: relative;
		z-index: 1;
		a {
			color: #999;
			text-decoration: none;
		}
	}
	.page-title {
		font-family: "Lato";
		font-size: 60px;
		line-height: 60px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	p {
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 40px;
	}
	&.header-image {
		min-height: 400px;
		.background-size(cover);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		.humus-breadcrumb {
			opacity: .7;
			color: #fff;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
			a {
				color: #fff;
			}
		}
		.page-title {
			color: #fff;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
		}
		p {
			color: #f0f0f0;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
		}
		&.post-header {
			min-height: 0;
			padding: 140px 0 80px;
		}
	}
}

body.search,
body.error404 {
	.page-header {
		.page-title {
			font-size: 50px;
			line-height: 50px;
		}
		#searchform {
			input[type=text] {
				display: block;
				.box-sizing(border-box);
				padding: 17px;
				width: 100%;
				font-size: 24px;
				line-height: 28px;
				color: #333;
				border: 0;
			}
		}
		p.results {
			color: #999;
		}
	}
}

.page-content {
	position: relative;
	z-index: 2;
	background: @background;
	padding-top: 20px;
}

#filters {
	margin-top: 20px;
	h3,
	h4 {
		font-size: 20px;
		line-height: 34px;
		text-transform: uppercase;
		font-weight: 400;
	}
	.toggle-more-filters {
		display: block;
		text-align: right;
		text-transform: uppercase;
		line-height: 34px;
		text-decoration: none;
		&.active {
			&:after {
				content: url(../img/double-arrow-up.png);
			}
		}
		&:after {
			content: url(../img/double-arrow-down.png);
			margin: 2px 0 0 10px;
			float: right;
		}
	}
	.related-selector {
		max-height: 0;
		overflow: hidden;
		.transition(all .3s ease-in-out);
		&.active {
			max-height: 600px;
		}
		.related-terms {
			li {
				margin: 0 20px 20px 0;
				float: left;
				a {
					display: block;
					line-height: 34px;
					background: #e0e0e0;
					padding: 0 34px;
					text-decoration: none;
					text-transform: uppercase;
					.transition(all .2s ease-in-out);
				}
				&:hover,
				&.active {
					a {
						background: #333;
						color: #f0f0f0;
					}
				}
				&.active {
					font-weight: 800;
					&:hover {
						a {
							background: #e0e0e0;
							color: #333;
						}
					}
				}
			}
		}
	}
}

.humus-ad {
	.ad-title {
		padding: 40px;
		.gradient(transparent, transparent, rgba(0,0,0,0.1));
	}
	.ad-content {
		padding: 20px;
		background: #fff;
		img,
		iframe,
		object {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}
}

.sub-posts {
	.sub-posts-title {
		h2 {
			font-weight: 600;
			text-transform: uppercase;
			margin: 0;
		}
		.toggle-sub-posts {
			float: right;
			font-size: 30px;
			line-height: 40px;
			width: 40px;
			text-align: center;
			background: #111;
			color: #f0f0f0;
			text-decoration: none;
			display: block;
		}
	}
	.sub-posts-content {
		max-height: 0;
		overflow: hidden;
		.transition(max-height .5s ease-in-out);
		&.active {
			max-height: 1000px;
		}
	}
}

article.list {
	position: relative;
	margin: 0 0 40px;
	a {
		text-decoration: none;
	}
	.post-thumbnail {
		position: relative;
		.event-date {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: #333;
			color: #f0f0f0;
			font-weight: 600;
			padding: 10px 15px 9px;
			font-size: 18px;
		}
		.section-icon {
			position: absolute;
			right: 10px;
			top: -10px;
			width: 40px;
			z-index: 2;
			&:hover {
				.label {
					display: block;
				}
			}
			img {
				width: 100%;
				height: auto;
			}
			.label {
				display: none;
				position: absolute;
				right: 0;
				top: 60px;
				font-weight: 600;
				background: #fff;
				padding: 7px 9px;
				font-size: 12px;
				line-height: 12px;
				text-transform: uppercase;
				&:before {
					content: '';
					width: 0;
					height: 0;
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-top: 7px solid transparent;
					border-bottom: 7px solid #fff;
					position: absolute;
					top: -14px;
					z-index: 1000;
					right: 10px;
				}
			}
		}
		.wp-post-image {
			display: block;
		}
	}
	.category {
		font-size: 12px;
		line-height: 26px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0 0 13px;
		a {
			background: #333;
			color: #f0f0f0;
			padding: 4px 8px;
		}
	}
	.location-name {
		color: #999;
		font-size: 11px;
		line-height: 26px;
		margin: 0;
		text-transform: uppercase;
	}
	h2 {
		font-size: 20px;
		line-height: 26px;
		font-weight: 400;
		margin: 0 0 9px;
	}
	.author {
		font-size: 12px;
		line-height: 13px;
		margin: 0;
		span {
			font-weight: 800;
		}
	}
	.post-header {
		margin: 0 0 13px;
	}
	.post-content {
		font-size: 11px;
		line-height: 20px;
		p {
			font-size: 11px;
			line-height: 20px;
		}
	}
	.with-thumbnail {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: hidden;
	}
	.post-meta {
		.box-sizing(border-box);
		padding: 13px 0 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: @background;
		p {
			font-size: 10px;
			line-height: 13px;
			margin: 0;
		}
		.tags {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 800;
			text-transform: uppercase;
		}
		.event-location {
			font-weight: 800;
			font-size: 11px;
			color: #333;
		}
	}
}

.tax-section.term-albuns {
	article.list {
		height: auto !important;
		.post-thumbnail {
			margin-bottom: 10px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
		}
		.image-count {
			font-weight: 600;
			color: #aaa;
		}
	}
}

article.minimal {
	position: relative;
	margin: 0 0 40px;
	a.cover-link {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
	}
	.post-thumbnail {
		overflow: hidden;
		background: #fff;
		img {
			display: block;
			.transition(all .2s ease-in-out);
		}
	}
	.post-header {
		.icon {
			width: 40px;
			height: 40px;
			float: left;
			margin-right: 15px;
		}
		h2 {
			font-size: 18px;
			line-height: 40px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-weight: 600;
			a {
				text-decoration: none;
			}
		}
	}
	.post-content {
		position: absolute;
		bottom: 40px;
		background: rgba(255,255,255,0.9);
		p {
			position: relative;
			height: 0;
			margin: 0;
			overflow: hidden;
			.transition(all .2s ease-in-out);
		}
	}
	&:hover {
		.post-thumbnail img {
			opacity: .5;
			.transform(scale(1.5));
			.transition(all 5s ease-in-out);
		}
		.post-content p {
			margin: 20px;
			height: 105px;
		}
	}
}

article.full {
	#post-media {
		max-width: 960px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		iframe,
		img {
			width: 100% !important;
		}
		img {
			height: auto !important;
		}
	}
	#post-meta {
		border-bottom: 1px solid #ccc;
		span {
			display: block;
			text-transform: uppercase;
			color: #999;
			font-size: 14px;
			&.meta-content,
			&.meta-content > * {
				color: #333;
				font-weight: 600;
				font-size: 18px;
			}
		}
		.post-date {
			.meta-content {
				text-transform: none;
			}
		}
		.post-date,
		.post-author {
			margin-top: 10px;
		}
		.event-date,
		.event-location {
			.meta-content,
			.meta-content > * {
				text-transform: none;
				font-weight: 400;
			}
		}
		.event-date {
			.time {
				display: block;
				font-size: 12px;
			}
		}
		.event-location {
			.location-address {
				display: block;
				font-size: 12px;
			}
		}
		.share {
			ul {
				float: right;
				margin: 0;
				padding: 0;
				li {
					float: left;
					margin: 0 0 20px 20px;
					padding: 0;
				}
			}
		}
	}
	.tags {
		line-height: 24px;
		span {
			background: #111;
			color: #f0f0f0;
			padding: 10px;
			width: 40px;
			text-align: center;
			font-size: 14px;
			line-height: 14px;
			display: block;
			float: left;
			font-weight: 600;
			text-transform: uppercase;
			position: relative;
			margin-right: 40px;
			margin-top: -5px;
			margin-bottom: 40px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -34px;
				border-left: 17px solid #111;
				border-right: 17px solid transparent;
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
			}
		}
		a {
			font-size: 12px;
			text-decoration: none;
			color: #666;
			&:hover {
				color: #333;
			}
		}
	}
	#post-terms {
		.post-tax-label {
			font-size: 14px;
			line-height: 30px;
			margin: 0 0 40px;
			a {
				padding: 5px 40px;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;
			}
			.tags {
				margin-top: 5px;
			}
		}
	}
	.post-content {
		font-size: 18px;
		line-height: 30px;
		p {
			margin: 0 0 40px;
		}
		h1,
		h2,
		h3,
		h4 {
			margin: 0 0 40px;
			font-family: "Lato";
		}
		h1,
		h2 {
			font-size: 50px;
			line-height: 60px;
		}
		h3 {
			margin: 30px 0;
			font-size: 35px;
			line-height: 40px;
		}
		ul,ol {
			margin: 0 0 40px 40px;
			li {
				margin: 0 0 20px;
				padding: 0 0 0 10px;
				font-size: 18px;
				line-height: 30px;
			}
		}
		ul {
			list-style: disc;
		}
		ol {
			list-style: decimal;
		}
		.tags {
			a {
				font-size: 14px;
			}
		}
	}
}

.related-content {
	position: relative;
	.related-posts {
		width: 100%;
		height: 285px;
	}
	.next {
		background: url(../img/arrow-right-big.png);
		width: 33px;
		height: 60px;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		right: -40px;
	}
	.prev {
		background: url(../img/arrow-left-big.png);
		width: 33px;
		height: 60px;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		left: -40px;
	}
}

.post-content {
	.humus-about {
		.humus-about-filter {
			h3,
			h4 {
				font-size: 20px;
				line-height: 34px;
				text-transform: uppercase;
				font-weight: 400;
				margin: 0 0 8px;
			}
			.about-filter {
				display: block;
				float: left;
				margin: 0 40px 0 0;
				line-height: 34px;
				font-size: 14px;
				background: #e0e0e0;
				padding: 0 68px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				.transition(all .2s ease-in-out);
				&.active {
					background: #333;
					color: #f0f0f0;
				}
			}
		}
		.humus-about-heads {
			.member-item {
				margin-bottom: 40px;
				cursor: pointer;
				height: 350px;
				.member-thumbnail img {
					display: block;
					width: 100%;
					height: auto;
					margin: 0 0 20px;
				}
				h2 {
					font-size: 20px;
					line-height: 28px;
					color: #444;
					font-weight: 600;
					margin: 0;
					a {
						text-decoration: none;
					}
				}
				.role {
					font-size: 14px;
					line-height: 18px;
					margin: 0;
					color: #666;
				}
				.member-profile {
					display: none;
				}
			}
		}
		.member-content-container {
			display: none;
			position: fixed;
			z-index: 99999;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(50,50,50,0.95);
			padding: 15% 0 10%;
			overflow: auto;
			&::-webkit-scrollbar {
				width: 5px;
				background: #fff;
			}
			&::-webkit-scrollbar-thumb {
				background: #333;
				&:hover {
					background: #222;
				}
			}
			.close-member {
				float: right;
				background: #000;
				color: #fff;
				display: block;
				padding: 8px 12px 9px;
				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
				text-decoration: none;
				position: relative;
				z-index: 10;
			}
			.member-content {
				position: relative;
				.member-thumbnail {
					float: left;
					margin: 0 40px 0 0;
				}
				h2,
				h2 a,
				p {
					color: #f0f0f0;
				}
				h2 {
					margin: 0 0 20px;
					padding-top: 40px;
					a {
						text-decoration: none;
					}
				}
				.role {
					color: #999;
				}
			}
		}
	}
}

#comments {
	border-top: 1px solid #ccc;
	padding-top: 40px;
	.comment-list {
		margin: 0;
		list-style: none;
		.comment {
			border-bottom: 1px solid #ccc;
			a {
				text-decoration: none;
			}
			.avatar {
				margin-bottom: 20px;
			}
			.comment-meta {
				margin-bottom: 10px;
			}
			.comment-author	{
				cite {
					font-weight: 600;
				}
			}
			.comment-date {
				font-size: 11px;
				margin: 0 0 20px;
				display: inline;
				color: #999;
				a {
					color: #999;
				}
			}
			.comment-edit-link {
				font-size: 11px;
				a {
					color: #999;
				}
			}
			.comment-content {
				margin: 0 0 40px;
				font-size: 16px;
				line-height: 24px;
			}
			.reply {
				margin-top: -30px;
				float: right;
				line-height: 35px;
				a {
					padding: 10px;
					background: #333;
					color: #f0f0f0;
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 200;
				}
			}
			.children {
				margin: 0;
				padding: 0;
				.comment {
					border: 0;
				}
			}
		}
	}
	#respond {
		textarea {
			width: 100%;
		}
	}
}

#colophon {
	background: #333;
	padding: 40px 0;
	h3,
	p,
	a {
		color: #f0f0f0;
	}
	h3 {
		text-transform: uppercase;
		font-family: "Lato";
		margin-bottom: 20px;
	}
	.partners {
		position: relative;
		width: 80%;
		.partner-list {
			width: 150px;
			height: 150px;
			overflow: hidden;
			ul {
				li {
					width: 150px;
					height: 150px;
					float: left;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
		.navigate {
			position: absolute;
			bottom: 0;
			right: 15%;
			a {
				width: 14px;
				height: 13px;
				text-indent: -9999px;
				display: block;
				float: left;
				background-position: center;
				background-repeat: no-repeat;
				margin-left: 10px;
				&.next-partner {
					background-image: url(../img/arrow-right-white.png);
				}
				&.prev-partner {
					background-image: url(../img/arrow-left-white.png);
				}
			}
		}
	}
	.social {
		width: 80%;
		.social-icons {
			a {
				.lsf;
				font-size: 30px;
				line-height: 30px;
				display: block;
				float: left;
				margin: 0 20px 0 0;
				text-decoration: none;
			}
		}
	}
	.newsletter {
		width: 80%;
		.newsletter-container {
			padding: 20px;
			background: #222;
			&:before {
				content: url(../img/stamp.png);
				float: right;
				margin: 0 0 20px 20px;
			}
			p {
				color: #999;
			}
			form {
				position: relative;
				&:after {
					content: '\E08a';
					position: absolute;
					font-size: 30px;
					line-height: 30px;
					color: #f0f0f0;
					top: 10px;
					right: 0;
					font-family: "LigatureSymbols";
				}
				input {
					background: transparent;
					width: 100%;
					padding: 15px 20px;
					border: 0;
					background: #3f3f3f;
					margin-left: -20px;
					position: relative;
				}
			}
		}
	}
	.contacts {
		width: 80%;
		p {
			color: #aaa;
			line-height: 26px;
			font-size: 12px;
		}
	}
	.colophon {
		width: 80%;
		table {
			width: 100%;
			tr {
				td {
					vertical-align: middle;
					height: 30px;
					color: #999;
					font-size: 12px;
					a {
						text-decoration: none;
					}
					&.logos {
						line-height: 30px;
						a, span {
							float: left;
							&.plus {
								margin: 0 10px;
							}
						}
					}
				}
			}
		}
	}
}

#swipebox-action,
#swipebox-caption {
	background: #333 !important;
}

.pinable {
	position: relative;
	display: block;
	.pin-it {
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: 0;
		.transition(opacity .3s ease-in-out);
		z-index: 999;
	}
	&:hover {
		.pin-it {
			opacity: 1;
		}
	}
}

/*
 * RESPONSIVE
 */

/* HEADER */

#masthead {
	.nav-toggle {
		display: none;
		.lsf;
	}
}

@media only screen and (max-width: 767px) {
	.hide-if-mobile {
		display: none !important;
	}
	#masthead {
		.header-navigation {
			background: #fff;
			top: 60px;
			position: fixed !important;
			clip: auto;
			left: 0;
			right: 0;
			#mastnav .menu > li {
				width: auto;
				margin: 0;
				font-size: 14px;
				line-height: 18px;
				padding: 0;
				border-bottom: 1px solid #ccc;
				float: none;
				clear: both;
				> a {
					display: block;
					padding: 15px;
				}
				ul {
					display: block;
					width: auto;
					height: auto;
					opacity: 1;
					overflow: visible;
					position: static;
					margin: 0;
					padding: 0;
					&:before {
						display: none;
					}
					li {
						display: block;
						width: 100%;
						border: 0;
						float: none;
						padding: 0;
					}
				}
				.sub-menu {
					margin-left: 15px;
					margin-bottom: 15px;
					a {
						padding: 5px 10px;
						display: block;
					}
				}
				&.explore {
					padding: 15px 15px 0;
					> a {
						display: none;
					}
					ul {
						li {
							margin: 0 0 15px;
							padding: 0;
							width: auto;
							font-size: 14px;
							line-height: 18px;
							float: none;
							h3 {
								font-size: 12px;
								padding-bottom: 10px;
								margin-bottom: 10px;
								color: #999;
								border: 0;
							}
							a {
								line-height: 18px;
							}
							&.axes {
								ul {
									width: 100%;
									display: table;
									li {
										width: 1%;
										text-align: center;
										display: table-cell;
									}
								}
							}
						}
					}
					.explore-menu > li,
					.explore-menu > li > ul {
						clear: both;
					}
				}
			}
			.right-side {
				float: none;
			}
			.search {
				width: auto;
				float: none;
				padding: 0;
				margin: 0;
				position: static;
				.searchform {
					width: auto;
					height: auto;
					opacity: 1;
					overflow: visible;
					position: static;
					form {
						margin: 0;
						background: transparent;
					}
				}
				&:before {
					display: none;
				}
			}
		}
		.nav-toggle {
			display: block;
			position: absolute;
			right: 0;
			top: 10px;
		}
	}
	.js .nav-collapse {
	  clip: rect(0 0 0 0);
	  max-height: 0;
	  position: absolute;
	  display: block;
	  overflow: hidden;
	  zoom: 1;
	}
}